:root {
    --accent-color: darkslategray;
    --section-padding: 20px 0px;
    --header-top-padding: 15px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }


/* Beginning: Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--accent-color);
    color: #fff;
    padding: 10px 20px;
}

header img {
    max-width: 80px;
}

header ul {
    padding-top: 33px;
    margin-right: 20px;
    float: right;
    font-size: 22px;
    list-style-type: none;
}

header li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}
/* End: Header */

/* Beginning: Home*/
.home {
    display: flex;
}

.home-back {
    height: 700px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("./images/Waves_60.jpg");
    background-size: cover;
    background-position: center;
}

.home-text {
    display: flex;
    flex-wrap: wrap;
    margin: 200px 200px 50px 200px;
    font-size: 24px;
}

aside {
    flex: 1;
}

.name {
    font-size: 48px;
    font-weight: bold;
}

.home-image img {
    max-height: 350px;
    float: right;
    padding: 10px;
}
/* End: Home*/


/* Beginning: Main*/
.main {
    font-size: 20px;
    margin: 100px;
}

.main h2 {
    text-align: center;
}

hr {
    width: 15%;
    margin: auto;
}
/* End: Main*/


/* Beginning: About*/ 
.about {
    padding: var(--section-padding);
    margin: 1% 0 0 0;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30%;
    padding-top: var(--header-top-padding);
}

.skills ul {
    list-style-type: none;
}
/* End: About*/


/* Beginning: Projects*/
.projects {
    padding: var(--section-padding);
}

.all-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: var(--header-top-padding) auto 20px;
}

.project-1 {
    position: relative;
}

.project-1 img {
    border: 10px solid var(--accent-color);
    width: 100%;
}

.horiseon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--accent-color);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#hori {
    font-weight: bold;
}

#lang {
    font-size: 14px;
}

.other-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 0 400px;
    position: relative;
}

.card img {
    border: 10px solid var(--accent-color);
    width: 100%;
}

.coming-soon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--accent-color);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
/* End: Projects*/


/* Beginning: Experience*/
.experience {
    padding: var(--section-padding);
}

.jobs {
    padding-top: var(--header-top-padding);
}

.job-title {
    font-weight: bold;
    font-size: 22px;
}

.job-name {
    font-style: italic;
}

.experience ul {
    padding-top: 5px;
    padding-left: 50px;
}
/* End: Experience*/

/* Beginning: Contact*/
.contact {
    padding: var(--section-padding);
}

.social-icons {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.icon {
    font-size: 2rem;
    color: var(--accent-color);
}
/* End: Contact*/



/* Beginning: Footer */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

.fa-solid {
    margin: 1px;
    color: var(--accent-color);
}
/* End: Footer */


@media screen and (max-width: 768px) {
    .home-text {
        font-size: 20px;
    }
    
    .name {
        font-size: 30px;
        font-weight: bold;
    }
    
    .home-image img {
        max-height: 300px;
        float: right;
    }

    .about-content {
        grid-template-columns: 1fr;
    }

    .skills {
        padding-top: 15px;
    }

    .project-1 {
        flex: 0 0 400px;
    }

    .project-1 img {
        min-height: 275px;
    }
    
}

@media screen and (max-width: 480px) {
    .home-text {
        font-size: 20px;
    }
    
    .name {
        font-size: 24px;
        font-weight: bold;
    }
    
    .home-image img {
        max-height: 250px;
    }
}
